spring:
  application:
    name: Camp Manager

  jpa:
    hibernate:
      ddl-auto: none

  datasource:
    url:
    driver-class-name: org.postgresql.Driver
    password:
    username:

  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true

