spring:
  application:
    name: Camp Manager

  jpa:
    hibernate:
      ddl-auto: none

  datasource:
    url: jdbc:postgresql://localhost:5432/camp-manager
    driver-class-name: org.postgresql.Driver
    password: 1234
    username: postgres

  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true

