spring:
  application:
    name: Camp Manager

  jpa:
    hibernate:
      ddl-auto: none

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver
    password: ${PASSWORD}
    username: ${USERNAME}

  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true

api:
  security:
    token-secret: 12345678901234567890123456789012

server:
  error:
    include-exception: false